body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
essential styles:
these make the slideshow work
*/

.slides {
    position: relative;
    height: 150px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slides__item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}

.active {
    opacity: 1;
    z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.controls {
    display: none;
}

.slides__item {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slides__item:nth-of-type(1) {
    background: red;
}

.slides__item:nth-of-type(2) {
    background: orange;
}

.slides__item:nth-of-type(3) {
    background: green;
}

.slides__item:nth-of-type(4) {
    background: blue;
}

.slides__item:nth-of-type(5) {
    background: purple;
}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.indicators__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.15s;
    display: inline-flex;
}
.indicators__item:hover {
    background-color: red;
    border-color: red;
}
.indicators__item.active {
    border-color: red;
}