body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slides {
    height: 80vh;
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides__item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.15s;
}
.slides__item.active {
    opacity: 1;
    z-index: 1;
}
.indicators {
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.indicators__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.15s;
}
.indicators__item:hover {
    background-color: red;
    border-color: red;
}
.indicators__item.active {
    border-color: red;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls__item {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.15s;
}
.controls__item>i {
    font-size: 20px;
    color: black;
}
.controls__item:hover {
    border-color: red;
}
.controls__item:hover>i {
    color: red;
}